<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280155740024-42lhvqve6lq779p6j028e9bq8urlm3sn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280155740024-42lhvqve6lq779p6j028e9bq8urlm3sn</string>
	<key>API_KEY</key>
	<string>AIzaSyCCP2oiB2QX6etLJlEQ5TolZFLr8HiyCAU</string>
	<key>GCM_SENDER_ID</key>
	<string>280155740024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berkayyaman.firebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>fir-loginapp-8d6a5</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-loginapp-8d6a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280155740024:ios:0f287892584e6c3812da8d</string>
</dict>
</plist>